body {
	background-color: lightgrey;
}
.window {
	height: 600px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.main {
	height: 650px;
    width: 700px;
    border: solid black;
}
.top-side {
	background-image: url(Ronaldo.png);
    background-size: 724px;
    height: 325px;
    width: 700px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-p {
	font-size: 13pt;
    font-family: opensuns, sans-serif;
    color: Black;
}
.bottom-side {
	height: 325px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-news {
	height: 180px;
    width: 150px;
    border: solid;
}
.img-news {
	height: 100px;
    width: 150px;
}
.bottom-p {
	font-size: 10pt;
    font-family: opensans, sans-serif;
    margin-left: 10px;
}
.scroll-news {
	height: 400px;
	width: 250px;
	border: solid black;
	overflow: scroll;
}
.scroll {
	height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
}
.img-scroll {
	height: 100px;
	width: 100px;
}
.p-scroll {
	font-size: 13pt;
	font-family: opensans, sans-serif;
}
@media screen and (max-width: 868px){
	.window {
	height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
}
.main {
	height: 320px;
    width: 350px;
    border: solid black;
}
.top-side {
	background-image: url(Ronaldo.png);
    background-size: 362px;
    height: 160px;
    width: 350px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-p {
	font-size: 7pt;
    font-family: opensuns, sans-serif;
    color: Black;
}
.bottom-side {
	height: 160px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-news {
	height: 80px;
    width: 115px;
    border: solid;
}
.img-news {
	height: 40px;
    width: 115px;
}
.bottom-p {
	font-size: 5pt;
    font-family: opensans, sans-serif;
    margin-left: 5px;
}
.scroll-news {
	height: 200px;
	width: 125px;
	border: solid black;
	overflow: scroll;
}
.scroll {
	height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
}
.img-scroll {
	height: 50px;
	width: 100px;
}
.p-scroll {
	font-size: 7pt;
	font-family: opensans, sans-serif;


}