body {
	background-color: lightgrey;
}
.window {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.main {
	height: 800px;
    width: 850px;
    border: solid black;
    margin: 0 auto;
}
.top-side {
	background-image: url(Ronaldo.png);
    background-size: 1090px;
    height: 400px;
    width: 850px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-p {
	font-size: 13pt;
    font-family: opensuns, sans-serif;
    color: Black;
}
.bottom-side {
	height: 400px;
    width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.bottom-news {
	height: 200px;
    width: 250px;
    border: solid;
}
.img-news {
	height: 100px;
    width: 250px;
}
.bottom-p {
	font-size: 10pt;
    font-family: opensans, sans-serif;
    margin-left: 10px;
}
.scroll {
    border: solid black;
    height: 800px;
    width: 250px;
    margin: 0 auto;
    overflow: scroll;
}
.scroll-news {
    height: 200px;
    width: 250px;
    border-bottom: solid white;
}
.scroll-img {
    height: 150px;
    width: 150px;
}
.scroll-p {
    font-size: 10pt;
    font-family: opensans, sans-serif;
}
@media screen and (max-width: 768px){
	.bottom-news {
		width: 100%;
	}
	.img-news {
		width: 200px;
	}
    .scroll {
        position: relative;
        top: 212px;
        left: -236px;
        overflow: unset;
        border: unset;
    }
    .window {
        align-items: flex-start;
    }
}
@media screen and (max-width: 696px){
    .scroll {
        overflow: unset;
        position: relative;
        top: 212px;
        left: -208px;
        border: unset;
    }
    .window {
        align-items: flex-start;
    }
}
@media screen and (max-width: 482px){
    .window {
        flex-direction: column;
        align-items: flex-start;
    }
    .scroll {
        overflow: unset;
        position: relative;
        top: 211px;
        left: -298px;
        border: unset;
    }
}
