body {
	margin: 0px;
}
.face {
	height: 500px;
	width: 500px;
	position: relative;
    top: 43px;
    left: 63px;
    border: solid black;
}
.top-part {
	height: 250px;
	width: 500px;
	display: flex;
	justify-content: flex-start;
}
.main-img {
	background-image: url(RON.jpg);
    background-size: 364px;
    background-repeat: no-repeat;
    height: 175px;
    width: 366px;
    position: relative;
    top: 22px;
    left: 64px;
}
.main-text {
	font-size: 10pt;
	color: white;
	font-family: opensans, sans-serif;
	position: relative;
	top: -7px;
    left: 57px;
}
.main-text2 {
	position: relative;
    font-size: 7pt;
    color: white;
    font-family: opensuns, sans-serif;
    top: 102px;
    left: 4px;
}
.main-views {
	position: relative;
    top: 82px;
    left: 257px;
    background-color: orange;
    height: 14px;
    width: 48px;
}
.main-views2 {
	position: relative;
    top: 68px;
    left: 316px;
    background-color: orangered;
    height: 14px;
    width: 48px;
}
.eye {
	height: 10px;
    width: 10px;
    position: relative;
    top: -2px;
}
.t150k {
	position: relative;
    font-size: 7pt;
    color: black;
    font-family: opensuns, sans-serif;
    top: -26px;
    left: 13px;
}
.message {
	height: 10px;
    width: 10px;
    position: relative;
    top: -2px;
}
.t100k {
	position: relative;
    font-size: 7pt;
    color: black;
    font-family: opensuns, sans-serif;
    top: -26px;
    left: 13px;
}
.bottom-part {
	height: 250px;
	width: 500px;
	display: flex;
}