body {
	background-color: lightgrey;
}
.window {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.main {
	height: 800px;
    width: 850px;
    border: solid black;
    margin-right: 20px;
}
.top-side {
	background-image: url(Ronaldo.png);
    background-size: 1090px;
    height: 400px;
    width: 850px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-p {
	font-size: 13pt;
    font-family: opensuns, sans-serif;
    color: Black;
}
.bottom-side {
	height: 400px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
}
.bottom-news {
	height: 179px;
    width: 224px;
    border: solid black;
}
.img-news {
	height: 100px;
    width: 224px;
}
.bottom-p {
	font-size: 10pt;
    font-family: opensans, sans-serif;
    margin-left: 10px;
}
.scroll {
    border: solid black;
    height: 800px;
    width: 250px;
    overflow: scroll;
}
.scroll-news {
    height: 200px;
    width: 250px;
    border-bottom: solid white;
}
.scroll-img {
    height: 150px;
    width: 150px;
}
.scroll-p {
    font-size: 10pt;
    font-family: opensans, sans-serif;
}
@media screen and (max-width: 1029px){
    .window {
        align-items: flex-start;
    }
    .scroll {
        width: 100%;
        overflow: unset;
        border: unset;
    }
    .scroll-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .scroll-p {
        font-size: 20pt;
    }
}
@media screen and (max-width: 768px){
    .bottom-side {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
    .img-news {
        height: 73px;
        width: 100px;
    }
    .bottom-news{
        height: 73px;
        width: 100%;
        display: flex;
    }
    .scroll {
        overflow: unset;
        border: unset;
        width: 100%;
    }
    .window {
        align-items: flex-start;
    }
    .scroll-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .scroll-p {
        font-size: 20pt;
    }
}
@media screen and (max-width: 696px){
    .scroll {
        overflow: unset;
        border: unset;
        width: 100%;
    }
    .window {
        align-items: flex-start;
    }
    .scroll-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .scroll-p {
        font-size: 20pt;
    }
}
@media screen and (max-width: 482px){
    .window {
        flex-direction: column;
        align-items: flex-start;
    }
    .scroll {
            overflow: unset;
        position: relative;
        top: 620px;
        left: -202px;
        border: unset;
        width: 100%;
    }
    .scroll-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .scroll-p {
        font-size: 20pt;
    }
}
