body {
	background-color: lightgrey;
}
.window {
	height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main {
	height: 400px;
    width: 400px;
    border: solid black;
}
.top-side {
	background-image: url(Ronaldo.png);
    background-size: 404px;
    height: 200px;
    width: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-p {
	font-size: 13pt;
	font-family: opensuns, sans-serif;
	color: Black;
}
.bottom-side {
	height: 200px;
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.bottom-news {
	height: 163px;
    width: 123px;
    border: transparent;
}
.img-news {
	height: 80px;
	width: 123px;
}
.bottom-p {
	font-size: 10pt;
    font-family: opensans, sans-serif;
    margin-left: 17px
}
.scroll-news {
	height: 400px;
	width: 250px;
	border: solid black;
}
.scroll {
	height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
}
.img-scroll {
	height: 100px;
	width: 100px;
}
.p-scroll {
	font-size: 13pt;
	font-family: opensans, sans-serif;
}